dist*
static/tmp/
static/combined/
purescript/bower_components
purescript/node_modules
purescript/.psci
purescript/.psci_modules
config/client_session_key.aes
*.hi
*.o
*.sqlite3
.hsenv*
cabal-dev/
yesod-devel/
.cabal-sandbox
cabal.sandbox.config
.DS_Store
*.swp
notes/
